trigger: none 
pool: Self hosted

stages:
- stage: Terraform_init_Validate
  displayName: Terraform init And validate
  jobs:
    - job: Terraforminitandvalidate
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
          backendServiceArm: 'SP-connection'
          backendAzureRmStorageAccountName: 'kamalstg12345'
          backendAzureRmContainerName: 'kamalcontainer'
          backendAzureRmKey: 'Dev.tfstate'

      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
    
  







  

