trigger: none 
pool: Self hosted


stages:
- stage: TerraformInstall
  displayName: Terraform Install
  jobs: 
  - job: TerraformInstallJob
    displayName: Terraform Install Job
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.11.4'
       
    - script: terraform --version
      displayName: Check Terraform Version

 


- stage: Terraform_init_validate
  displayName: Terraform init_validate
  
  jobs:
    - job: Terraform_init_validate_job
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
          backendServiceArm: 'SP-connection'
          backendAzureRmStorageAccountName: 'kamalstg12345'
          backendAzureRmContainerName: 'kamalcontainer'
          backendAzureRmKey: 'Dev.tfstate'
             
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'

- stage: Terraform_Plan
  displayName: Terraform Plan
  jobs:
     - job: TerraformPlanJob
       steps:
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'plan'
           workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
           environmentServiceNameAzureRM: 'SP-connection'
           commandOptions: '-out=tfplan'

       - script: 'terraform show -no-color tfplan > terraform-plan-output.txt'
         displayName: To Text Document

       - task: PublishPipelineArtifact@1
         inputs:
           targetPath: '$(System.DefaultWorkingDirectory)/Environment/Dev/terraform-plan-output.txt'
           artifact: 'Terraform_Plan_Output'
           publishLocation: 'pipeline'
       
- stage: Linting_Scanning
  displayName: Linting And Scanning
  jobs:
     - job: Tfsec_job
       displayName: tfsec
       steps:
       - task: tfsec@1
         inputs:
           version: 'v1.26.0'
           dir: '$(System.DefaultWorkingDirectory)/Environment/Dev'


- stage: Manual_Validation
  displayName: Manual Validation
  pool: Server
  dependsOn: Terraform_Plan
  condition: succeeded() 
  jobs:
   - job: Manual_Validation_Job
     displayName: Manual_Validation_Job
     steps:
     - task: ManualValidation@1
       inputs:
         notifyUsers: 'er.kamal801@gmail.com'
         approvers: 'er.kamal801@gmail.com'
         instructions: 'Approve Or Reject'
 
        
- stage: Terraform_Apply
  displayName: Terraform Apply
  dependsOn: Manual_Validation
  condition: succeeded() 
  jobs:
   - job: Terraforminit
     displayName: Terraforminit
     steps:
     - task: TerraformTask@5
       inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
        backendServiceArm: 'SP-connection'
        backendAzureRmStorageAccountName: 'kamalstg12345'
        backendAzureRmContainerName: 'kamalcontainer'
        backendAzureRmKey: 'Dev.tfstate'

   - job: TerraformApply
     displayName: TerraformApply
     steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Dev'
          commandOptions: '-auto-approve'
          environmentServiceNameAzureRM: 'SP-connection'
  


        

   
