trigger: none 
pool: Self hosted


stages:
- stage: TerraformInstall
  displayName: Terraform Install
  jobs: 
  - job: TerraformInstallJob
    displayName: Terraform Install Job
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'


- stage: Terraform_init_validate
  displayName: Terraform init_validate
  
  jobs:
    - job: Terraform_init_validate_job
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev'
          backendServiceArm: 'SP-connection'
          backendAzureRmStorageAccountName: 'kamalstg12345'
          backendAzureRmContainerName: 'kamalcontainer'
          backendAzureRmKey: 'Dev.tfstate'
             
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev'

- stage: Terraform_Plan_Output
  displayName: Terraform Plan
  jobs:
     - job: TerraformPlanJob
       steps:
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'plan'
           workingDirectory: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev'
           environmentServiceNameAzureRM: 'SP-connection'
           commandOptions: '-out=tfplan'

       - script: 'terraform show -no-color tfplan > terraform-plan-output.txt'
         displayName: To Text Document

       - task: PublishPipelineArtifact@1
         inputs:
           targetPath: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev/terraform-plan-output.txt'
           artifact: 'Terraform_Plan_Output'
           publishLocation: 'pipeline'
       
- stage: Linting_Scanning
  displayName: Linting And Scanning
  jobs:
     - job: Tfsec_job
       displayName: tfsec
       steps:
       - task: tfsec@1
         inputs:
           version: 'v1.26.0'
           dir: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev'

       - task: PublishTestResults@2
         inputs:
           testResultsFormat: 'JUnit'
           testResultsFiles: '**/TEST-*.xml'
           searchFolder: '$(System.DefaultWorkingDirectory)Infra_terraform_/Environment/Dev'
           failTaskOnFailureToPublishResults: true

   
